<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzeria</title>
</head>

<body>

    <th:block th:replace="~{fragment :: bootstrap}"></th:block>
    <th:block th:replace="~{fragment :: navBar}"></th:block>

    <div class="container mx-auto mt-5 mb-5">
        <div class="card" th:object="${pizza}" style="max-width: 500px">
            <img th:src=" *{pick}" alt="Pizza image" style="width: 100%;">
            <div class="card-body">
                <h1 class="card-title">[[*{name}]]</h1>
                <h5 class="mt-3">Ingredienti:</h5>
                <ul>
                    <li th:each="ingredient : ${pizza.ingredients}" th:text="${ingredient.name}"></li>
                </ul>
                <h4 class="card-text">[[*{description}]]</h4>
                <a href="#" class="btn btn-primary">[[*{price}]] [[*{symbol}]]</a>
            </div>

            <section class="row mb-3">
                <div class="col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Title</th>
                                <th scope="col">Start sale</th>
                                <th scope="col">End Sale</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="sale : ${sales}">
                                <td>[[${sale.id}]]</td>
                                <td>[[${sale.title}]]</td>
                                <td>[[${sale.startSale}]]</td>
                                <td>[[${sale.endSale}]]</td>
                                <td><a class="btn btn-success btn-sm" th:href="@{/sales/edit/{id}(id=${sale.id})}">Edit
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                        th:data-bs-target="'#delete-modal-' + ${sale.id}">
                                        Delete
                                    </button>
                                    <div class="modal fade" tabindex="-1" th:id="'delete-modal-' + ${sale.id}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Delete [[*{name}]]</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Sei sicuro di voler eliminare la pizza?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Chiudi</button>
                                                    <form method="post"
                                                        th:action="@{/sales/delete/{id}(id=${sale.id})}">
                                                        <button type="submit" class="btn btn-danger btn-sm">Conferma
                                                            elimina</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
    <th:block th:replace="~{fragment :: script-bootstrap}"></th:block>
</body>