<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzeria</title>
</head>

<body>

    <th:block th:replace="~{fragment :: bootstrap}"></th:block>
    <th:block th:replace="~{fragment :: navBar}"></th:block>

    <div class="col-8 container mx-auto">
        <div class="card mb-5" style="max-width: 500px">

            <h1 th:if="${edit}">Ingredienti [[${ingredient.name}]]</h1>
            <h1 th:unless="${edit}">Ingredients</h1>
        </div>

        <form th:action="${edit}? @{/ingredients/edit/{id}(id=${ingredient.id})} : @{/ingredients/create}"
            th:object="${ingredient}" method="post" class="mb-5">

            <input type="hidden" th:field="*{id}">

            <div class="mb-3">
                <label class="form-label" for="name">Name:</label>
                <input class="form-control" type="text" id="text" th:field="*{name}" th:errorclass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('name')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>
            <button th:if="${edit}" type="submit" class="btn btn-primary">Edit ingredients</button>
            <button th:unless="${edit}" type="submit" class="btn btn-primary">Create ingredient</button>
    </div>


    </form>

    </div>

</body>

</html>