<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>

<body>
    <th:block th:replace="~{fragment :: bootstrap}"></th:block>
    <th:block th:replace="~{fragment :: navBar}"></th:block>
    <div>
        <h1 class="text-center">La mia pizzeria</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex obcaecati a ab, expedita saepe enim nesciunt
            facere dignissimos dolores incidunt sequi accusamus eveniet nihil iure maxime minus laudantium.
            Perspiciatis, delectus.</p>
    </div>

</body>

</html>